<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="sidebar">
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav" id="left-nav">
            <div>
                <a href="/" class="nav_logo">
                    <i class='bx bxl-discord nav_logo-icon'></i>
                    <span class="nav_logo-name">БОТОВАЯ</span>
                </a>
                <div class="nav_list">
                    <a href="/" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Ваши каналы</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Users</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Статистика</span>
                    </a>
                    <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="#" class="nav_link">
                        <i class='bx bxs-radiation nav_icon'></i>
                        <span class="nav_name">Админ-панель</span>
                    </a>
                </div>
            </div>
            <a href="/logout" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Выход</span>
            </a>
        </nav>
    </div>
</th:block>