body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background-color: #1f2029;
    overflow-x: hidden;
}

.custom {
    width: 100px !important;
    height: 40px !important;
}

.form-select {
    margin-top: 5px;
    width: 300px !important;
}

#line-container {
    width: 300px;
    height: 8px;
    margin: 50px auto;
}

.tab-pane.show.active {
    width: 300px;
}

.btn.control {
    margin-top: 10px;
    width: 147px;
    height: 60px;
}

#textArea {
    resize: none;
    height: 200px;
}

.table {
    margin-top: 10px;
    width: 550px;
    margin-left: -125px;
}

#addUserToBlackListBtn {
    width: 300px;
    height: 40px;
}

#userToBlacklistText {
    margin-top: 10px;
}